#content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    width: 550px;
    margin: 10px;
}

#result {
    height: 3em;
    margin: 25px;
}

#result>p {
    font-size: 2.5em;
    display: inline;
}

.subtitle {
    font-size: 1.7em;
}

.social-container {
    margin: 10px;
}

.social-icon {
    font-size: 2em;
    color: crimson;
}

.social-icon:hover {
    color: #EC244C;
}